<h1> Listar Receitas </h1>
<table  class="table table-striped">
<thead  class="thead-dark">
    <tr>
        <th scope="col"> Nome </th>
        <th scope="col"> Ingredientes</th>
        <th scope="col"> Modo de preparo</th>
        <th scope="col"> Editar</th>
        <th scope="col"> Deletar</th>
    </tr>
</thead>
<tbody>
    {{#each receitas}}
    <tr>
        <th scope="row">{{nome}}</th>
        <td>{{ingredientes}}</td>
        <td>{{preparo}}</td>
        <td><a href="receitaEdit/{{_id}}"> <button class="btn btn-dark">Editar</button> </a></td>
        <td><a href="receitaDelete/{{_id}}"> <button class="btn btn-dark">Deletar</button> </a></td>
    </tr>
    {{/each}}
</tbody>
</table>